.highlighted-text
{
  background-color: #ff0;
}

.container
{
  padding-top: 80px;
  padding-bottom: 40px;
}

@media (max-width: 768px)
{
  .container
  {
    padding-top: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: unset;
  }

  .music-container
  {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.outer-container
{
  min-height: 100%;
  position: relative;
  padding-bottom: 45px;
}

html, body
{
  font-family: 'Montserrat', sans-serif;
  background: #eee;
  height: 100%;
}

h1, h2, h3, h4, .navbar-brand, nav
{
  font-family: 'Acme', sans-serif;
}

a, .page-link
{
  color: #ae31ad;
}

footer
{
  position: absolute;
  bottom: 0;
  background-color: #fff;
  border-top: thin solid #888;
  color: #888;
  padding: 10px;
  width: 100%;
}

footer a
{
  color: #444;
  font-weight: bold;
}

.navbar
{
  background-color: #ae31ad;
  color: #fff;
  z-index: 600;
}

.nav, .nav a
{
  color: #fff;
}

.navbar-brand
{
  text-shadow: 2px 2px #000;
  font-size: 1.5em;
}

.navbar-shadow
{
  position: absolute;
  z-index: 512;
  top: 60px;
  width: 100%;
  height: 7px;
  background: repeating-linear-gradient(45deg, #f9d4f6, #f9d4f6 10px, #ef4bff 10px, #ef4bff 20px, #005cff 20px, #005cff 30px, #00ff00 30px, #00ff00 40px, #f5ff07 40px, #f5ff07 50px, #ff302a 50px, #ff302a 60px);
  box-shadow: 0px 1px 5px #444;
}

.tune-entry
{
  background-color: #fff;
  border-radius:  5px;
  border:  thin #000 solid;
  padding: 5px;
  margin: 15px 0 15px 0;
  box-shadow: 3px 3px;
}

.midi-container
{
  display: flex;
  margin-top: 5px;
  display: none;
}

.midi-container button
{
  margin-right: 5px;
}

.tune-playback-bar
{
  flex-grow: 5;
  height: 2rem;
  margin: 5px;
  border: thin solid #000;
}

.tune-playback-bar .progress-bar
{
  background-color: #ae31ad;
  transition: none;
}

.setlist-title
{
  padding: 0 10px 0 10px;
  flex-grow: 5;
}

.setlist-item
{
  display: flex;
}

.setlist-remove
{
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 12px  20px  12px  2em;
  margin: -12px -20px -12px -2em;
  color: #212529;
}

.setlist-remove:hover
{
  background-color: #ddd;
  color: #000;
}

.no-tunes-found
{
  text-align: center;
  display: none;
}

.meta-bottom
{
  font-size: 14px;
}

.text.meta-top tspan
{
  font-style: italic;
}

.tune-pagination
{
  display: flex;
}

.tune-pagination nav
{
  flex-grow: 5;
}

.discrete
{
  color: #666;
  padding-top: 7px;
  padding-left: 10px;
}

.loading-spinner
{
  text-align: center;
}

.dropdown
{
  display: inline;
}

.dropdown-toggle::after
{
  display: none;
}

.dropdown-menu.show
{
  box-shadow: 1px 1px 10px #000000;
}

.active .btn
{
  background-color: #ae31ad;
  color: #fff;
  box-shadow: 2px 2px #000;
}

.fav-button svg path
{
  fill: none;
  stroke: currentcolor;
  stroke-width: 50px;
}

.fav-button.active svg path
{
  fill: #F00;
  stroke: #000;
  stroke-width: 25px;
}

.lbl-advanced-search
{
  text-align: center;;
}

.lbl-advanced-search p
{
  margin-top: 0.5rem;
}

.form-control:focus, .custom-select:focus
{
  box-shadow: 0 0 .2rem .02rem #ae31ad;
  border-color: #ae31ad;
}

/* W3 Schools switch CSS*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
  margin-bottom: 0;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ae31ad;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ae31ad;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.music-container
{
  margin-left: 30px;
  margin-right: 30px;
}

.abcjs-inline-midi
{
  display: none;
}

.badge-primary
{
  background-color: #ae31ad;
}

.setlist-item a button
{
  margin-right: 5px;
}

.setlist-item:first-child .moveupbtn
{
  visibility: hidden;
}

.setlist-item:last-child .movedownbtn
{
  visibility: hidden;
}

select
{
  margin-top: 5px;
  margin-bottom: 5px;
}
