<!-- Cookies Notice -->
<div class="modal fade" id="cookiesModal" tabindex="-1" role="dialog" aria-labelledby="cookiesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cookiesModalLabel">Enable Cookies</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				This site uses cookies to personalise content such as favoriting tunes and building sets. <br/>
				By using these features you agree to our use of cookies.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="$('#cookiesModal').modal('hide')">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="pdfModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pdfModalLabel">Create PDF File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="pdf-include-pnumbers" onchange="javascript:OnPDFSettingChanged();">
          <label class="form-check-label" for="pdf-include-pnumbers">Include page numbers</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="pdf-best-fit" onchange="javascript:OnPDFSettingChanged();">
          <label class="form-check-label" for="pdf-best-fit">Re-order tunes for best fit</label>
        </div>
        You may have to disable your Advert or Popup blocker to open PDF files
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0);" id="btn-view-pdf" target="_blank">
          <button type="button" class="btn btn-primary"></button>
        </a>
      </div>
      <div style="padding-left:0.5rem; padding-left:05.rem;">
        <p id="a-view-pdf">If the button does not work try copying this URL into a new tab: <a href=""></a></p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settingsModalLabel">Tunebook Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table style="width:100%;">
          <tr>
            <td><p>Default Cleff</p></td>
            <td>
              <select class="custom-select" id="cleffSelect">
                <option selected value="treble">Treble</option>
                <option value="bass">Bass</option>
                <option value="alto">Alto</option>
                <option value="tenor">Tenor</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><p>Change Octave</p></td>
            <td>
              <select class="custom-select" id="transpositionSelect">
                <option value="4">+4 Octaves</option>
                <option value="3">+3 Octaves</option>
                <option value="2">+2 Octaves</option>
                <option value="1">+1 Octave</option>
                <option selected value="0">Default</option>
                <option value="-1">-1 Octave</option>
                <option value="-2">-2 Octaves</option>
                <option value="-3">-3 Octaves</option>
                <option value="-4">-4 Octaves</option>
              </select>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="$('#settingsModal').modal('hide')">Done</button>
      </div>
    </div>
  </div>
</div>
