<nav class="navbar navbar-dark">
  <a class="navbar-brand d-none d-sm-block" href="./">Bristol University Folk Society</a>
  <a class="navbar-brand d-block d-sm-none" href="./">BUFS</a>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="./tunes.html">Tunebook</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./set.html">My Set <span class="badge badge-light" id="lbl-num-in-set" style="display:none;">0</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0);" onclick="showSettingsModal();">Settings</a>
    </li>
  </ul>
</nav>
<div class="navbar-shadow"></div>
