<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<meta name=description content="Website for the University of Bristol Folk Society managing the online tunebook">
		<meta name=keywords content="Tune, Folk, Bristol, Society, Session, Univeristy, Student, ABC">

		<title>Bristol Univeristy Folk Society</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Acme|Montserrat" rel="stylesheet">

    <link href="./node_modules/abcjs/abcjs-midi.css" media="all" rel="stylesheet">

		<link rel="stylesheet" href="./style.css"/>
	</head>
	<body>

		{% include navbar.html %}

		<div class="outer-container">
			<div class="container">
				<noscript>
					<h2>You must have javascript enabled to use this website</h2>
				</noscript>

	      {{ content }}

			</div>
		</div>

		<footer>
			2018 -
			Site maintained by Bristol Univeristy Folk Society -
			<a href="mailto:folkclub@ragmorris.com" target="_blank">Contact Us</a> -
			<a href="https://github.com/bristolfolksoc/bristolfolksoc.github.io" target="_blank">Become a contributor</a>
		</footer>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

		<script src="./node_modules/abcjs/bin/abcjs_midi_3.3.4-min.js"></script>

		<script src="./scripts/core.js"></script>
	</body>
</html>
